
.banner_container{
	background-color: black;
	/*padding-top: 5vh;*/
	position: relative;
	/*visibility: hidden;*/
	/*border-color: green;*/
	/*border: 10px solid green;*/
	/*overflow: hidden;*/
	/*height: 100vh;*/
	/*overflow: hidden;*/
	/*height: 100vh;*/


}




.banner{  
    background-color: white;
    /*border-color: red;*/
    /*border:5px solid red;*/
    /*position: absolute;*/

    position: relative;
    /*position: absolute;*/
    /*top: 100px;*/
}

#banner_image{
		max-height: 90vh;
		width: 100%;
		/*object-fit: contain;*/
		mask-image:linear-gradient(to bottom, rgba(0,0,0,1),rgba(255,255,255,0));
		z-index: -1;
		}



.banner_contents{
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	max-width: 25%;
	position: absolute;
	top: 30%;
	left: 40%;
	color: white;
}
.banner_contents :first-child{
	margin-bottom: 1.3em;
	/*font: */
	font-family: "Lucida Console", Courier, monospace;
	font-size: 1.3em;
	
}
.home_overlay_nav{
	color:white;
	z-index: 30;
	position: absolute;
}