
.banner_container{
	background-color: black;
	/*padding-top: 5vh;*/
	position: relative;
}




.banner{  
    background-color: white;
}

#banner_image{
		width: 100%;
		mask-image:linear-gradient(to bottom, rgba(0,0,0,1),rgba(255,255,255,0));
		z-index: -1;
		}



.banner_contents{
	background-color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 25%;




	position: absolute;
	top: 30%;
	left: 40%;
	color: white;
}
.banner_contents :first-child{
	text-align: center;
	
}