/*hamburger*/

.ham_container {
    max-height: 8vh;
    display: flex;
    /*width: auto;*/
    z-index: 30;

    justify-content: center;
    align-items: center;

    /*position: absolute;*/
    	/*top:2vw;*/
    	/*left: 3vw;*/
        /*top: 5vh;*/
        /*margin-top: 100px;*/

}

.ham {

    height: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    /* -moz-user-select: none;  
  -webkit-user-select: none;  
  -ms-user-select: none;  
  user-select: none;*/
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham6 .top {
    stroke-dasharray: 40 172;
}

.ham6 .middle {
    stroke-dasharray: 40 111;
}

.ham6 .bottom {
    stroke-dasharray: 40 172;
}

.ham6.active .top {
    stroke-dashoffset: -132px;
}

.ham6.active .middle {
    stroke-dashoffset: -71px;
}

.ham6.active .bottom {
    stroke-dashoffset: -132px;
}


/*end hamburger*/

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    z-index: 11;
    height: 8vh;
    color: white;
}

.navbar_slider{
    /*border-radius:2%;*/
    border-bottom-left-radius: 4%;
    border-bottom-right-radius:4%;

    width: 100vw;
    min-height: 50vh;
    background-color: navajowhite;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    /*transition: */
    transform: translateY(-100%);
  
    transition: all 0.3s ;
    z-index: 20;
  
    /*justify-content: space-around;*/
    align-items: center;
    /*transform: translateX(calc(-150% - .5px)) translateY(calc(-150% - .5px));*/
 /*-webkit-filter: blur(0.000001px);*/
/*-webkit-font-smoothing: antialiased;*/
/*-webkit-font-smoothing: subpixel-antialiased;*/

    /*align-items: center;*/
    /*navbar.style.transform="translate(-40%,-20%)"*/
    /*visibility: */
    /*display: none;*/
    visibility: hidden;
}
.show_slider{
    transition: all 0.3s ;
    transform: initial;


    /*display: flex;*/
    visibility: initial;
    /*transform:translate(-25%,-25%);*/

    /*transform: translateX(calc(-25% - .5px)) translateY(calc(-25% - .5px));*/
 /*-webkit-filter: blur(0.000001px);*/
 /*-webkit-font-smoothing: antialiased;*/
 /*-webkit-font-smoothing: subpixel-antialiased;*/
    
    /*whilie doint % it does the claculation and does mistake in rendering*/
    /*transform: translateX(-50%) translateY(calc(-50% - .5px));*/
}
.navbar_slider_contents_container1{
    flex:2;
}



.navbar_slider_contents_container{
    flex:3;
    /*background: orange;*/
    /*flex-grow: 1;*/
    /*margin-top: 5em;*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    /*margin-right: .1em;*/
    visibility: hidden;
    /*transition: all 0.9s;*/



}
.show_slider_contents{
    visibility: initial;
    /*transition: all 0.5s;*/
    /*margin-right: 6em;*/
    color: black;
    z-index: 40;

}
.navbar_slider_contents_container p{
    margin-bottom: 2em;
    font-size: 1.3rem;

}
.slider_contents{
    cursor: pointer;
}

.navbar_contents {
    flex-grow: 1;
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar_contents p {
    margin-left: 20px;
    /*background-color: white;*/
    font-size: 2rem;
    /*align-items: center;*/
    display: flex;
    align-items: center;
}

.to_top_none {
    display: none;
    
}

.to_the_top_activate {
    /*background-color: cyan;*/
    font-size: 3rem;
    position: fixed;
    right: 50px;
    bottom: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

#home{
    border-bottom: 1px solid white;
   
}

@media (min-width: 567px) {
    .navbar {
        /*display: flex;*/
    }
    .navbar_contents{
    	display: flex;
    }
    .ham_container{
    	display: none;

    }
    .navbar_slider{
        display: none;
    }

}
/*@media(max-width: 566px){
	.ham_container{
		display: flex;
	}
}*/
@media(max-width: 566px){
    .navbar{
    height: 10vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    }

    .ham_container{
        position: fixed;
        top: 2em;
        left: 2em;
        /*background-color: red;*/
        /*visibility: hidden;*/
    }
}

@media (min-width: 756px) {}