.projects_{
	margin-top: 1.5em;
}
.each_projects_container{
	max-width: 1000px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.each_projects{
	margin: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	background-color: #f2f2f2;
}
.each_projects:first-child{
	margin-left: 0;
}

.each_projects_image{
	/*width: 300px;*/
	/*width: 100%;*/
	height: 250px;
	/*height: 100%;*/
	/*height: 300px;*/
	/*width: 100%;*/
	object-fit: contain;
}
.all_projects{
	text-align: center;
	margin-bottom: 1em;
}


.all_projects_btn{
	padding:8px 10px;
	border-radius: 10px;
	background-color: #bfbfbf;
}

@media (max-width:567px) {
	.each_projects:first-child{
	margin-left: 10px;
	}
		


}